<div class="container">
  <h1 class="display-4">Welcome to House Hunters!</h1>
  <p class="lead">At House Hunters, we understand that finding the perfect home is an
    important decision that can greatly impact your life. Whether you are
    looking to buy or to rent, our goal is to ensure that you find your dream
    home through an easy and seamless process.</p>
  <h2 class="display-5">Our Vision</h2>
  <p>To provide house hunters with an easy to use online platform to find, rent, or sell their properties. </p>
  <h2 class="display-5">Why Choose 'House Hunters'?</h2>
  <p></p>
</div>