<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="Your premier real estate agency" />
    <title>House Hunter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="/">
          <img src="/images/Logo.png" class="logo-img" alt="House Hunter" />
        </a>
      </div>

      {{!-- hamburger for mobile view --}}
      <div class="navbar-hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>

       <div class="navbar">
        <a class="active" href="#">For Sale</a>
      <a href="#">For Rent</a>
        <a href="#">Sell</a>
        <a href="#">About Us</a>
        <div class="search-container">
          <input type="text" placeholder="Search Here...">
          <button type="submit">Search</button>
        </div>
        <div class="login-button">
          <button type="submit">Sign In</button>
        </div>
          <div class="login-button">
            <button type="submit">Sign Up</button>
        </div>
      
      </div>
      
        {{#if loggedIn}}
        <li class="nav-link" id="log-out">Log Out</li>
        <script src="/js/logout.js"></script>
        {{else}}
        <li><a href="/login" class="nav-link">Log In</a></li>
        {{/if}}
      </ul>
    </nav>

    {{{ body }}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
