* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

:root {
  /* color palette */
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #254562;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  color: white;
  align-content: space-around;
}

.logo-img {
  margin-top: 10px;
  height: 70px;
  width: auto;
  font-size: large;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: white;
  color: #254562;
}

.active {
  color: white;
}

/* CSS for the search bar */
.search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-container input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-left: 10px;
  background: white;
  color: #254562;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* CSS for the login button */
.login-button {
  font-size: 17px;
  margin-left: 10px;
}

.login-button button {
  padding: 6px 10px;
  font-size: 17px;
  background-color: white;
  color: #254562;
  border: none;
  cursor: pointer;
}

.login-button button:hover {
  background-color: greenyellow;
  color: black;
}

/* CSS for the login button */
.signup-button {
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.signup-button button {
  padding: 6px 10px;
  font-size: 17px;
  background-color: white;
  color: #254562;
  border: none;
  cursor: pointer;
}

.signup-button button:hover {
  background-color: greenyellow;
  color: black;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar a {
    padding: 5px;
    margin-right: 0;
  }

  .navbar-hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .search-container {
    margin-top: 10px;
    margin-left: 0;
  }

  .search-container input[type="text"] {
    font-size: 14px;
    padding: 4px;
  }

  .search-container button {
    font-size: 14px;
    padding: 4px 8px;
    margin-left: 5px;
  }
  .login-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .login-button button {
    font-size: 14px;
    padding: 4px 8px;
  }

  .signup-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .signup-button button {
    font-size: 14px;
    padding: 4px 8px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-post-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#new-post-form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="file"] {
  margin-bottom: 15px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Mobile Version Styles */

@media screen and (max-width: 480px) {
  .new-post-card {
    padding: 10px;
  }

  input[type="text"],
  textarea,
  input[type="file"],
  .submit-btn {
    font-size: 14px;
  }
}

#carouselExample {
  max-width: 1250px;
  margin: 30px auto; /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* for the sale and rent page */
.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
}

.images {
  flex: 1;
}

.text-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#listing-address {
  text-align: center;
  padding: 0.5rem;
}

#street {
  font-weight: bold;
}

#unit {
  font-style: italic;
}

.text-center {
  text-align: center;
}

#price,
#bedrooms,
#bathrooms {
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  .images {
    flex: 1;
  }

  .text-area {
    padding: 0.5rem;
  }

  #price,
  #bedrooms,
  #bathrooms {
    padding: 0.25rem;
    font-size: 14px;
  }
}

.header-color {
  color: #254562;
  font-weight:500;
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;

}
footer {
  position: relative;
  bottom: 0;
  background-color: #ff8551;

}