* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

:root {
  /* color palette */
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #254562;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  color: white;
}

.logo-img {
  margin-top: 10px;
  height: 70px;
  width: auto;
  font-size: large;
}

.navbar {
  background-color: #254562;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: white;
  color: #254562;
}

.active {
  color: white;
}

/* CSS for the search bar */
.search-container {
  float: right;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 10px;
  background: white;
  color: #254562;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* CSS for the login button */
.login-button {
  float: right;
  font-size: 17px;
  margin-top: 8px;
  margin-right: 8px;
}

.login-button button {
  padding: 6px 10px;
  font-size: 17px;
  background-color: white;
  color: #254562;
  border: none;
  cursor: pointer;
}

.login-button button:hover {
  background-color: greenyellow;
  color: black;
}
